# 1. Imports

In [21]:
library(foreign) # para importar a base .dbf
library(rgdal)

ERROR: Error in library(rgdal): there is no package called ‘rgdal’

# 2. Importing the data.frames

In [8]:
load('2018_04_28_data1_pesourbgradrend.RData')
dbf_data <- read.dbf('2018_04_28_data2_RDPR1509.dbf', as.is = FALSE)

In [9]:
ls()

[1] "dbf_data" "res"

In [15]:
print('Paraná:'); head(res$PR); print('Rio de Janeiro:'); head(res$RJ)

[1] "Paraná:"

  mun     peso     urb grad rend rendt
1 4100103 3.070993 1   NA   510     0
2 4100103 3.070993 1   NA    NA   510
3 4100103 3.070993 1   NA    NA   510
4 4100103 3.153293 1   NA    NA  1200
5 4100103 2.374362 1   NA    NA    NA
6 4100103 2.374362 1   NA   600     0

[1] "Rio de Janeiro:"

  mun     peso     urb grad rend rendt
1 3300100 10.72009 1   NA     NA 2200
2 3300100 10.72009 1   NA     NA  600
3 3300100 19.01061 2   NA   1000    0
4 3300100 19.01061 2   NA     NA    0
5 3300100 19.01061 2   NA    800    0
6 3300100 19.01061 2   NA    600    0

In [16]:
head(dbf_data)

  UF_ZI  ANO_CMPT MES_CMPT ESPEC CGC_HOSP       N_AIH         IDENT CEP
1 410000 2015     09       03    04169712000190 4115108043563 1     86705667
2 410000 2015     09       03    04169712000190 4115108043574 1     86709546
3 410000 2015     09       03    04169712000190 4115108043585 1     86707440
4 410000 2015     09       03    04169712000190 4115108043596 1     86702765
5 410000 2015     09       03    04169712000190 4115108043607 1     86709290
6 410000 2015     09       03    04169712000190 4115108043618 1     86708080
  MUNIC_RES NASC     ⋯ DIAGSEC9 TPDISEC1 TPDISEC2 TPDISEC3 TPDISEC4 TPDISEC5
1 410150    19430312 ⋯ NA       0        0        0        0        0
2 410150    19620322 ⋯ NA       0        0        0        0        0
3 410150    19920914 ⋯ NA       1        0        0        0        0
4 410150    19410725 ⋯ NA       0        0        0        0        0
5 410150    19400125 ⋯ NA       0        0        0        0        0
6 410150    19560122 ⋯ NA       0        0        0        0        0
  TPDISEC6 TPDISEC7 TPDISEC8 TPDISEC9
1 0        0        0        0
2 0        0        0        0
3 0        0        0        0
4 0        0        0        0
5 0        0        0        0
6 0        0        0        0

# 3. Shape files

1. Go to the IBGE [website](https://downloads.ibge.gov.br/downloads_geociencias.htm)
2. "malhas territoriais" --> "malhas municipais" --> "municipio_2016" --> "UFs" --> Choose either "PR" or "RJ" --> Choose either "pr_municipio.zip" or "rj_municipio.zip". Or if you are on Linux, in the terminal simply run: `wget http://servicodados.ibge.gov.br/Download/Download.ashx?u=geoftp.ibge.gov.br/organizacao_do_territorio/malhas_territoriais/malhas_municipais/municipio_2016/UFs/RJ/rj_municipios.zip` to download the `.zip` to the `$HOME`

In [17]:
readOGR()

ERROR: Error in readOGR(): could not find function "readOGR"